<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메인 페이지</title>
</head>
<body>
<h1>메인 페이지 </h1>
<div th:replace="/fragments/layout.html :: fragment-body-menu"></div>

<!-- TODO : 배너 슬라이드 구현  -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bxslider@4.2.17/dist/jquery.bxslider.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bxslider@4.2.17/dist/jquery.bxslider.min.js"></script>

<script>
    $(document).ready(function () {
        $(".slider").bxSlider();
    });
</script>

<div class="home__slider">
    <ul class="slider">
        <li th:each="x : ${list}">
            <a th:href="${x.url}" th:target="${x.target}">
                <img th:src="@{'/' + ${x.image}}" th:alt="${x.alterText}"/>
            </a>
        </li>
    </ul>
</div>


</body>
</html>
